.container {
    max-width: 1000px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

input {
    padding: 8px;
    border-radius: 20px 0 0 20px;
    border: none;
    outline: none;
    width: 60%;
    max-width: 300px;
    margin-top: 15px;
}

button {
    padding: 8px;
    border-radius: 0 20px 20px 0;
    border: none;
    outline: none;
    background-color: rgba(117, 178, 228, 0.397);
    width: 60%;
    max-width: 70px;
    cursor: pointer;
    font-weight: bold;
    color: rgb(92, 92, 92);
}

button:hover {
    background-color: rgba(37, 135, 214, 0.397);
}

